.header {
  background-color: #f5f5f5;
  margin: 0;
  text-align: center;
  font-size: 50px;
}

body{
  margin: 0;
  padding: 0;
}

section {
  margin: 8px;
  display: grid;
}

.explanation {
  text-align: center;
  grid-column-start: 1;
  grid-column-end: 3;
  margin: auto;
}

.imagePage {
  grid-column-start: 4;
  grid-column-end: 5;
  height: 300px;
}

.image{
  object-fit: cover;
  width: 300px;
  height: 300px;
}

.buttons{
  display: flex;
}

.button1 {
  margin: auto;
  padding: auto;
} 
.button2 {
  margin: 10px;
  padding: auto;
} 

.h3 {
  background-color: #f5f5f5;
  margin: 0;
  text-align: center;
}

hr{
  width: 100%;
}

.imageDogs {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 5px;
}
.noneImageDogs {
  display: none;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 5px;
}

.imageDog {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.flex{
  text-align: center;
}